@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Members>
@using Newtonsoft.Json
@using Umbraco.Web.Models
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<div class="column is-12">
    <h1 class="title">
        Active members
    </h1>
</div>
<div class="column is-6">
    <div class="row">
        <div class="column is-12">
            @foreach (var member in ApplicationContext.Current.Services.MemberService.GetMembersByGroup("Active"))
            {
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            @if (member.GetValue("photo") != null)
                            {
                                string image = member.GetValue<string>("photo");
                                if (image != null)
                                {
                                    var imageCrop = JsonConvert.DeserializeObject<ImageCropDataSet>(image);
                                    var imagePath = imageCrop.Src.GetCropUrl(width: 100);
                                    <img class="img-responsive" src="@imagePath " />
                                }
                            }
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>@member.Name</strong> <small>@member.GetValue("address")</small> <small>@member.GetValue("zip") @member.GetValue("city")</small>
                                <br>
                                Skills:
                                @{
                                    String[] skills = member.GetValue("skills").ToString().Split(',');
                                    string skillString = string.Join(", ", from skill in skills
                                                                           select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
                                }
                                @skillString
                            
                            </p>
                        </div>
                     
                    </div>
                   
                </article>
                                    }
    </div>
</div>
    </div>
<div class="column is-6">
    <div class="row">
        <div class="column is-6">
            <h2 class="subtitle">
                Guests
            </h2>
        </div>
        <div class="column is-6">
            @foreach (var member_guest in ApplicationContext.Current.Services.MemberService.GetMembersByGroup("Guest"))
            {

                <article class="media">
                    <figure class="media-left">
                       
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>@member_guest.Name</strong>
                            </p>
                        </div>
                   </div>
                </article>
            }
        </div>
    </div>
</div>
